@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Video Game Database</h1>
    <p>Search through different video game genres, find out what you like!</a></p>
    <p>Check 'details' to see a description for each game.</p>
    <p>When registered, you can create, edit or delete games from our database.</p>
</div>
