@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Video game information</h1>
    <p>Browse through different video game genres, find out what you like!</a>.</p>
</div>
